/* contact-map */

    .contact-map{position: relative;
        .contact-map-title{position: absolute;background-color: rgba(0,0,0, .7);display: table;text-align: center;min-height: 210px;width: 100%;z-index: 1;
            .title-text{display: table-cell;vertical-align: middle;color:#fff;padding-top: 55px;
                &:after{display: none;}
                h2{position: relative;padding-bottom: 22px;
                    &:after{content: '';display: block;position: absolute;width: 100px;height: 2px;bottom:0;left: calc(50% - 100px/2);background-color: #f24841;}
                }
            }
        }
        .contact-map-main{position: relative;z-index: 0;
            #contact-map-main{height: 780px;width: 100%;}
        }

        .gm-style-iw{background-color: rgba(255,255,255, .9);border-radius: 5px;padding: 35px 40px 45px 50px;font-family: "Roboto", sans-serif;
            .marker-town{text-align: center;color:#4f4f4f;font-size: 24px;font-weight: 700;position: relative;padding-bottom:25px;margin-bottom: 28px;
                &:before{content: '';display: block;position: absolute;width: 50px;height: 1px;background-color: #d24a43;left:calc(50% - 25px);bottom:0px;}
            }
            .marker-text-main{margin-bottom: 15px;
                &:last-child{margin-bottom: 0;}
                .marker-icon{display: inline-block;vertical-align: top;width: 24px;height: 22px;background-repeat: no-repeat;background-position: center center;margin-right: 5px;
                    &.marker-street-icon{background-image:url(../images/marker-street-icon.png);}
                    &.marker-skype-icon{background-image:url(../images/marker-skype-icon.png);}
                    &.marker-mail-icon{background-image:url(../images/marker-mail-icon.png);}
                    &.marker-telefone-icon{background-image:url(../images/marker-telefone-icon.png);}
                }
                .marker-text{font-size: 18px;color:#4f4f4f;display: inline-block;width: calc(100% - 30px);vertical-align: top;}
            }

        }
        .custom-close{right:20px!important;top:15px!important;}
    }
    #contact-map{
        .button{min-width: 240px;
            a{text-decoration: none; color: #4f4f4f;
                &:hover{color: white;}
            }
        }
    }
    

/* /contact-map */