<section id='block2'>
    <div class="block2-wrap hand-of-god">
        <div class="mbox">
            <div class="conteiner cfix">
                <div class="item scrollanim">
                    <div class="top-img-block">
                        <img src="images/b2-img1.jpg" alt="">
                        <a href="#uslugi" class="button-more">Подробнее...</a>
                    </div>
                    <div class="after-text"> Аутсорсинг ВЭД </div>
                </div>
                <div class="item scrollanim">
                    <div class="top-img-block">
                        <img src="images/b2-img2.jpg" alt="">
                        <a href="#call-popup" class="button-more fancybox-form">Подробнее...</a>
                    </div>
                    <div class="after-text">  Таможенное оформление </div>
                </div>
                <div class="item scrollanim">
                    <div class="top-img-block">
                        <img src="images/b2-img3.jpg" alt="">
                        <a href="#zayavka" class="button-more">Подробнее...</a>
                    </div>
                    <div class="after-text"> Доставка товара: door China – door Moscow  </div>
                </div>
            </div>
        </div>
    </div>

</section>