<section id="calculus">
    <div class="calculus-wrap">
        <div class="mbox">
            <div class="conteiner">
                <div class="title-text">
                    <h2>Калькулятор таможенного оформления и доставки</h2>
                </div>
                <div class="conteiner-form">
                    <form name="calculus-form" class="calculus-form cfix">
                        <div class="contact-form-item">
                            <div class="form_row spec-bg-11">
                                <div class="magik-disk">Выберите ставку НДС</div>
                                <div class="form_input ">
                                    <select class="selectable-trip" >
                                        <option selected > 10%</option>
                                        <option>20%</option>
                                        <option>30%</option>
                                        <option>40%</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-item ">
                            <div class="form_row spec-bg-12">
                                <div class="magik-disk-2">Введите таможенную стоимость</div>
                                <div class="form_input ">
                                    <input type="text" name="tammozhna"  placeholder=''>
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-item ">
                            <div class="form_row spec-bg-13">
                                <div class="magik-disk-2">Примерная стоимость доставки до границы РФ</div>
                                <div class="form_input ">
                                    <input type="text" name="tammozhna"  placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-item ">
                            <div class="form_row spec-bg-14">
                                <div class="magik-disk-2">Введите ставку пошлины</div>
                                <div class="form_input ">
                                    <input type="text" name="tammozhna"  placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-row cfix">
                            <div class="contact-form-item nerd-iye">
                                <button type="submit" class="send">
                                    <span>Посчитать</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="block-req">
                        <div class="row">
                            <div class="cell-text">Таможенные сборы</div>
                            <div class="cell-num tammozhna-yop">1000</div>
                        </div>
                        <div class="row">
                            <div class="cell-text">Примерный размер таможенной пошлины</div>
                            <div class="cell-num razmer-yop">3000</div>
                        </div>
                        <div class="row">
                            <div class="cell-text"> НДС (налог на добавленную стоимость при импорте товара)</div>
                            <div class="cell-num nds-yop">3500</div>
                        </div>
                        <div class="row-last cfix">
                            <div class="itog">
                                <div class="text-itog">Итого</div>
                                <div class="price-yop"> <span> 7500,00</span> Руб.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>