<section id="contact-polosa">
    <div class="polosa-wrap">
        <div class="mbox">
            <div class="conteiner cfix">
                <div class="items scrollanim">
                    <a href="tel:89268153498" class="phone-line">
                        <span>8(926) 815-34-98</span>
                    </a>
                </div>
                <div class="items scrollanim">
                    <a href="mailto:Delivery@yandex.ru" class="mail-line">
                        <span>info@impexservice24.com</span>
                    </a>
                </div>
                <div class="items scrollanim">
                    <a href="skype:impexservice24?call" class="skype-line">
                        <span>impexservice24</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>