<section id="contact-polosa">
    <div class="polosa-wrap">
        <div class="mbox">
            <div class="conteiner cfix">
                <div class="items">
                    <a href="tel:88007006336" class="phone-line">
                        <span>8(800)700-63-36 </span>
                    </a>
                </div>
                <div class="items">
                    <a href="tel:84955446366" class="phone-line">
                        <span>8(495)544-63-66</span>
                    </a>
                </div>
                <div class="items">
                    <a href="mailto:Delivery@yandex.ru" class="mail-line">
                        <span>Delivery@yandex.ru</span>
                    </a>
                </div>
                <div class="items">
                    <a href="skype:Delivery_China?call" class="skype-line">
                        <span>Delivery_China</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>