<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="footer-wrap">
        <div class="topest-block">
            <div class="mbox">
                <div class="conteiner cfix">
                    <div class="item scrollanim">
                        <div class="button">
                            <a href="#call-popup" class="send add-white fancybox-form"> заказать звонок</a>
                        </div>
                        <a href="tel:84956633344" class="call-me-maybe"> 8(495) 663-33-44 </a>
                    </div>
                    <div class="item scrollanim">
                        <a href="#" class="logo"></a>
                        <div class="description">ВАШ ЛОГИСТИЧЕСКИЙ ОПЕРАТОР</div>
                    </div>
                    <div class="item scrollanim">
                        <div class="text-alone">Разработано Asia corporation. <br/> Все права защищены.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="under-all">Политика конфиденциальности</div>
    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script>

    var googleTown = 'Москва';
    var googleStreet = 'Щелковское шоссе, д.100, корп.20, каб. 302.';
    var googleSkype = 'Delivery_China';
    var googleMail = 'Delivery@yandex.ru';
    var markerTelefone = ['8(926) 815-34-98','8(800)700-63-36','8(495)544-63-66'];

    var cordX = 55.812335, cordY = 37.831876;

</script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>
<!-- /SCRIPTS -->
</body>
</html>