<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="footer-wrap">
        <div class="topest-block">
            <div class="mbox">
                <div class="conteiner cfix">
                    <div class="item">
                        <div class="button">
                            <a href="#call-popup" class="send add-white fancybox-form"> заказать звонок</a>
                        </div>
                        <a href="tel:84956633344" class=""> 8(495) 663-33-44 </a>
                    </div>
                    <div class="item">
                        <div class="logo"> ASIA </div>
                        <div class="description">ВАШ ЛОГИСТИЧЕСКИЙ ОПЕРАТОР</div>
                    </div>
                    <div class="item">
                        <div class="text-alone">Разработано Asia corporation. Все права защищены.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="under-all">Политика конфиденциальности</div>
    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>
<!-- /SCRIPTS -->
</body>
</html>