<section id='ourclients'>
    <div class="clients-wrap">
        <div class="mbox">
            <div class="conteiner">
                <div class="title-text adofix">
                    <h2>Наши клиенты</h2>
                </div>
                <div class="client-row cfix">
                    <div class="item"><a href="#"><img src="images/client1.png" alt=""></a></div>
                    <div class="item"><a href="#"><img src="images/client2.png" alt=""></a></div>
                    <div class="item"><a href="#"><img src="images/client3.png" alt=""></a></div>
                    <div class="item"><a href="#"><img src="images/client4.png" alt=""></a></div>
                    <div class="item"><a href="#"><img src="images/client5.png" alt=""></a></div>
                    <div class="item"><a href="#"><img src="images/client6.png" alt=""></a></div>
                    <div class="item"><a href="#"><img src="images/client7.png" alt=""></a></div>
                    <div class="item"><a href="#"><img src="images/client8.png" alt=""></a></div>
                    <div class="item"><a href="#"><img src="images/client9.png" alt=""></a></div>
                    <div class="item"><a href="#"><img src="images/client10.png" alt=""></a></div>
                    <div class="item"><a href="#"><img src="images/client11.png" alt=""></a></div>
                    <div class="item"><a href="#"><img src="images/client12.png" alt=""></a></div>
                    <div class="item"><a href="#"><img src="images/client13.png" alt=""></a></div>
                </div>
            </div>
        </div>
    </div>
</section>

