<section id='ourclients'>
    <div class="clients-wrap">
        <div class="mbox">
            <div class="conteiner">
                <div class="title-text adofix">
                    <h2>Наши клиенты</h2>
                </div>
                <div class="client-row cfix">
                    <div class="item">
                        <img src="images/client1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="images/client1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="images/client1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="images/client1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="images/client1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

