<section id="slider">
    <div class="slider-wrap">
        <div class="mbox">
            <div class="conteiner">
                <div class="title-text">
                    <h2>Наши услуги</h2>
                </div>
                <div class="convert-slider">
                    <div class="item">
                        <figure>
                            <div class="caption-block so-interesting">
                                <div class="conteiner-img">
                                    <img src="images/slide-i3.jpg" alt="">
                                </div>
                            </div>
                            <div class="caption-block">
                                <div class="vargas">
                                    <div class="texter">
                                        <div class="title-head">Аутсорсинг ВЭД</div>
                                        <div class="after-text">
                                            <p>Услуга, включающая в себя широкий спектр услуг: составление и заключение еждународного контракта, покупка валюты и оплата по контракту, прохождение валютного контроля за нашего клиента, транспортно-экспедиционное обслуживание,таможенная очистка товара, доставка товара на склад клиента, передача всей необходимой документации.</p>
                                            <p>Мы выступим в качестве Вашего Торгового Агента, взяв на себя все риски и обязательства по осуществлению импортно/экспортных операций между Вами, Вашими поставщиками и партнерами.</p>
                                        </div>
                                        <div class="button-row">
                                            <a href="" class="send">Напишите нам</a>
                                            <a href="" class="send">Обратный звонок</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="item">
                        <figure>
                            <div class="caption-block">
                                <div class="vargas">
                                    <div class="texter">
                                        <div class="title-head">Авиа перевозки</div>
                                        <div class="after-text">
                                            <p>Транспортировка груза путем авиационного сообщения. Позволяет значительно сократить время доставки.</p>
                                        </div>
                                        <div class="button-row">
                                            <a href="" class="send">Расчитать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="caption-block so-interesting">
                                <div class="conteiner-img">
                                    <img src="images/slide-i2.jpg" alt="">
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="item">
                        <figure>
                            <div class="caption-block so-interesting">
                                <div class="conteiner-img">
                                    <img src="images/slide-i1.jpg" alt="">
                                </div>
                            </div>
                            <div class="caption-block">
                                <div class="vargas">
                                    <div class="texter">
                                        <div class="title-head">Сборные перевозки</div>
                                        <div class="after-text">
                                            <p>Это перевозки мелкогабаритных грузов. Сборные перевозки позволяют уменьшить стоимость доставки мелкогабаритных грузов..</p>
                                        </div>
                                        <div class="button-row">
                                            <a href="" class="send">Расчитать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="item">
                        <figure>
                            <div class="caption-block">
                                <div class="vargas">
                                    <div class="texter">
                                        <div class="title-head">Мультимодальные перевозки</div>
                                        <div class="after-text">
                                            <p>Транспортировка выполненная, по меньшей мере двумя видами транспорта; мы контролируем и несём ответственность за всю перевозку, даже если эта транспортировка производится разными видами транспорта (например: железной дорогой, морем и автодорогой т. д.).</p>
                                        </div>
                                        <div class="button-row">
                                            <a href="" class="send">Расчитать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="caption-block so-interesting">
                                <div class="conteiner-img">
                                    <img src="images/slide-i4.jpg" alt="">
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="item">
                        <figure>
                            <div class="caption-block so-interesting">
                                <div class="conteiner-img">
                                    <img src="images/slide-i5.jpg" alt="">
                                </div>
                            </div>
                            <div class="caption-block">
                                <div class="vargas">
                                    <div class="texter">
                                        <div class="title-head">
                                            Таможенное оформление  <br/>
                                            <span>(таможенная очистка, декларирование грузa)</span>
                                        </div>
                                        <div class="after-text">
                                            <p>Выполнение необходимых формальностей, возникающих в связи с перемещением через таможенную границу товаров.</p>
                                        </div>
                                        <div class="button-row">
                                            <a href="" class="send">Расчитать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="after-texter">Ожидание бессмысленно – просто позвоните нам!</div>
            </div>
        </div>
    </div>
</section>