<section id='special'>
     <div class="special-wrap hand-of-god">
        <div class="mbox">
            <div class="conteiner ">
                <div class="title-text adofix">
                    <h2>Специальные предложения</h2>
                </div>
                <div class="row-items cfix">
                    <div class="item scrollanim">
                        <div class="top-img-block">
                            <p>40ф - 18 000$</p>
                            <img src="images/nr1.jpg" alt="">
                            <a href="#zayavka" class="button-more">Подробнее...</a>
                        </div>
                        <div class="after-text"> Обувь </div>
                    </div>
                    <div class="item scrollanim">
                        <div class="top-img-block">
                            <p>40ф - 27 000$</p>
                            <img src="images/nr2.jpg" alt="">
                            <a href="#zayavka" class="button-more">Подробнее...</a>
                        </div>
                        <div class="after-text"> Бытовая техника </div>
                    </div>
                    <div class="item scrollanim">
                        <div class="top-img-block">
                            <p>40ф - 17 500$</p>
                            <img src="images/nr3.jpg" alt="">
                            <a href="#zayavka" class="button-more">Подробнее...</a>
                        </div>
                        <div class="after-text"> Ковры </div>
                    </div>
                </div>
                <div class="row-4-items cfix">
                    <div class="item scrollanim">
                        <div class="top-img-block">
                            <p>20ф - 25 000$</p>
                            <img src="images/nr4.jpg" alt="">
                            <a href="#zayavka" class="button-more">Подробнее...</a>
                        </div>
                        <div class="after-text"> Камеры </div>
                    </div>
                    <div class="item scrollanim">
                        <div class="top-img-block">
                            <p>20ф - 20 000$</p>
                            <img src="images/nr5.jpg" alt="">
                            <a href="#zayavka" class="button-more">Подробнее...</a>
                        </div>
                        <div class="after-text"> Регистраторы </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>