<section id='uslugi'>
    <div class="uslugi-wrap hand-of-god">
        <div class="mbox">
            <div class="conteiner ">
                <div class="title-text adofix">
                    <h2>Наши услуги</h2>
                </div>
                <div class="row-items cfix">
                    <div class="item scrollanim">
                        <div class="top-img-block">
                            <img src="images/bu-img1.jpg" alt="">
                            <a href="#call-popup" class="button-more fancybox-form">Подробнее...</a>
                        </div>
                        <div class="after-text"> Аутсорсинг ВЭД </div>
                    </div>
                    <div class="item scrollanim">
                        <div class="top-img-block">
                            <img src="images/bu-img2.jpg" alt="">
                            <a href="#call-popup" class="button-more fancybox-form">Подробнее...</a>
                        </div>
                        <div class="after-text"> Расчет доставки </div>
                    </div>
                    <div class="item scrollanim">
                        <div class="top-img-block">
                            <img src="images/bu-img3.jpg" alt="">
                            <a href="#call-popup" class="button-more fancybox-form">Подробнее...</a>
                        </div>
                        <div class="after-text"> Таможенное  оформление</div>
                    </div>
                </div>
                <div class="row-item scrollanims cfix">
                    <div class="item scrollanim">
                        <div class="top-img-block">
                            <img src="images/bu-img4.jpg" alt="">
                            <a href="#call-popup" class="button-more fancybox-form">Подробнее...</a>
                        </div>
                        <div class="after-text"> Авиа-перевозки </div>
                    </div>
                    <div class="item scrollanim">
                        <div class="top-img-block">
                            <img src="images/bu-img5.jpg" alt="">
                            <a href="#call-popup" class="button-more fancybox-form">Подробнее...</a>
                        </div>
                        <div class="after-text"> Сборные грузы </div>
                    </div>
                    <div class="item scrollanim">
                        <div class="top-img-block">
                            <img src="images/bu-img6.jpg" alt="">
                            <a href="#call-popup" class="button-more fancybox-form">Подробнее...</a>
                        </div>
                        <div class="after-text">Мультимодальные перевозки</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>