<section id='why-we'>
    <div class="why-we-wrap">
        <div class="mbox">
            <div class="conteiner">
                <div class="title-text">
                    <h2>Почему мы?</h2>
                </div>
                <div class="row-con row-con-4-items cfix">
                    <div class="item">
                        <div class="carkas">
                            <img src="images/bw-img1.jpg" alt="">
                            <div class="magick-gick"></div>
                        </div>
                        <p>Доставка  от двери до двери,  «забудь о головной боли»</p>
                    </div>
                    <div class="item">
                        <div class="carkas">
                            <img src="images/bw-img2.jpg" alt="">
                            <div class="magick-gick"></div>
                        </div>
                        <p>Индивидуальный подход</p>
                    </div>
                    <div class="item">
                        <div class="carkas">
                            <img src="images/bw-img3.jpg" alt="">
                            <div class="magick-gick"></div>
                        </div>
                        <p>Широкая сеть партнеров  в Китае и РФ</p>
                    </div>
                    <div class="item">
                        <div class="carkas">
                            <img src="images/bw-img4.jpg" alt="">
                            <div class="magick-gick"></div>
                        </div>
                        <p>Надёжные банки-партнёры,  минимальные сроки  исполнения транзакий</p>
                    </div>
                </div>
                <div class="row-con row-con-3-items cfix">
                    <div class="item">
                        <div class="carkas">
                            <img src="images/bw-img5.jpg" alt="">
                            <div class="magick-gick"></div>
                        </div>
                        <p>Безупречное качество, потому что узкий профиль, мы заем нашу нишу от А до Я</p>
                    </div>
                    <div class="item">
                        <div class="carkas">
                            <img src="images/bw-img6.jpg" alt="">
                            <div class="magick-gick"></div>
                        </div>
                        <p>Молодой, прогрессивный коллектив, мы решим любые проблемы</p>
                    </div>
                    <div class="item">
                        <div class="carkas">
                            <img src="images/bw-img7.jpg" alt="">
                            <div class="magick-gick"></div>
                        </div>
                        <p>Доставка  от двери до двери,  «забудь о головной боли»</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>