@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){
    #zayavka:before{left: 0;}
    #zayavka:after{right: 0;}
    .why-we-wrap .row-con { padding: 0;
        .item { width: 40%; margin: 20px calc(20%/4);}
    }
    .why-we-wrap .row-con-3-items .item:first-child { margin-left: calc(20%/4);}
    .why-we-wrap .row-con-3-items .item:last-child { margin-left: calc(60%/2);}

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){
    #call-popup{ width: 100%;}
    #call-popup .head-block-pup { background-size: auto;}

}
@media screen and (max-width: 767px){
    .block-req .row-last .itog {margin: 0 auto; float: none;}
    .calculus-wrap {background-image: none;}
    .block-req .row .cell-text { padding-left: 10px; padding-right: 10px;}
    .block-req .row .cell-num {padding-right: 10px;}


    .slider-wrap .convert-slider .item figure .caption-block .texter {
        .title-head {line-height: 24px; font-size: 18px;}
        .after-text {font-size: 12px;}
        .button-row a {font-size: 14px;line-height: 30px;}
    }

    .polosa-wrap .conteiner .items { width: 50%;}

    .footer-wrap .topest-block { position: relative;
        .item{float: none; text-align: center; width: 100%;
            &:nth-child(1){position: absolute; top: 130px; }
            &:nth-child(2){padding-bottom: 110px; }
            .text-alone {text-align: center; padding-bottom: 20px; padding-top: 0px; }
            .button { margin-bottom: 20px;}
        }
    }

    .hand-of-god .conteiner {
        .row-4-items .item { float: none; width: 80%; margin: 0 auto; padding-bottom: 40px;}
        .item { float: none; width: 80%; margin: 0 auto; padding-bottom: 40px;
            .after-text { font-size: 16px;}
        }
    }
    #zayavka:before{display: none;}
    #zayavka:after{display: none;}
    .mbox{padding: 0 10px;}
    #zayavka .conteiner-zayavka .convert-form{
        .row-part1 { float: none; max-width: 100%;}
        .row-part2 { float: none; max-width: 100%;}
        .mainn-block-form { padding-bottom: 0px;}
        .contact-form-item .form_row .form_input{
            .jq-selectbox__dropdown ul li {margin-left: 44px;}
            .selectable-trip {height: 80px;}
            .jq-selectbox__trigger .jq-selectbox__trigger-arrow {top: 26px;}
            .jq-selectbox__select {line-height: 40px; height: 80px;}
            .jq-selectbox__select-text{width: calc(100% - 50px);}
            .jq-selectbox__dropdown {top: 90px;}
        }
        .contact-form-item .form_row {
            .spec-bg-10:after {height: 66px ;}
            .spec-bg-10:before { top: 28px; }
        }
    }
     #zayavka .conteiner-zayavka .convert-form .nerd-iye {padding-top: 0;}

     // .clients-wrap .client-row .item { width: 40%; margin: 0 5%; padding-top: 30px;}
     // .clients-wrap .client-row .item:last-child{margin: 0 30%;}
}

@media screen and (max-width: 666px){
    .calculus-wrap .conteiner .magik-disk-2 {max-width: 180px; top: 4px;  left: 45px; font-size: 12px;}
    .calculus-wrap .conteiner .magik-disk {max-width: 180px; top: 14px;  left: 45px; font-size: 12px;}
    .slider-wrap .convert-slider .item figure { position: relative; min-height: 300px;
        .caption-block {width: calc(100% - 20px); position: absolute; top: 10px; left: 10px; right:10px; bottom: 10px;  background-color: rgba(255,255,255,0.8); z-index: 10;
            .vargas{display: table;min-height: 300px;
                .texter{display: table-cell; vertical-align: middle;}
            }
        }
        .so-interesting{position: static; top: 0; padding-top: 0px;width: 100%;}
    }

    .why-we-wrap .row-con { padding: 0;
        .item { width: 80%; margin: 20px calc(20%/2);}
    }
    .why-we-wrap .row-con-3-items .item:first-child { margin: 20px calc(20%/2);}
    .why-we-wrap .row-con-3-items .item:last-child { margin: 20px calc(20%/2);}

}
@media screen and (max-width: 479px){

    .slider-wrap .convert-slider .item figure .caption-block .texter .title-head {max-width: 300px;}
    .slider-wrap .convert-slider .item figure .caption-block .texter .after-text {max-width: 300px;}
    .slider-wrap .convert-slider .item figure .caption-block .texter .button-row a {font-size: 12px;}
    .polosa-wrap .conteiner .items { width: 100%;
        a{line-height: 60px;}
    }
    .wrap-cit { padding-top: 30px;}
    #zayavka .conteiner-zayavka .convert-form .contact-form-item a { width: 100%;}
}
@media screen and (max-width: 320px){

}